In [ ]:
import numpy as np
import pandas as pd

In [ ]:
df = pd.read_csv(r"D:\modern college\TE\DSBDA\data.csv.csv")

In [ ]:
print(df.describe())

              Age         BMI     Glucose     Insulin        HOMA      Leptin  \
count  116.000000  116.000000  116.000000  116.000000  116.000000  116.000000
mean    57.301724   27.582111   97.793103   10.012086    2.694988   26.615080
std     16.112766    5.020136   22.525162   10.067768    3.642043   19.183294
min     24.000000   18.370000   60.000000    2.432000    0.467409    4.311000
25%     45.000000   22.973205   85.750000    4.359250    0.917966   12.313675
50%     56.000000   27.662416   92.000000    5.924500    1.380939   20.271000
75%     71.000000   31.241442  102.000000   11.189250    2.857787   37.378300
max     89.000000   38.578759  201.000000   58.460000   25.050342   90.280000

       Adiponectin    Resistin        MCP.1
count   116.000000  116.000000   116.000000
mean     10.180874   14.725966   534.647000
std       6.843341   12.390646   345.912663
min       1.656020    3.210000    45.843000
25%       5.474283    6.881763   269.978250
50%       8.352692   10.827740   471.322500
75%      11.815970   17.755207   700.085000
max      38.040000   82.100000  1698.440000

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 116 entries, 0 to 115
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Age             116 non-null    int64
 1   BMI             116 non-null    float64
 2   Glucose         116 non-null    int64
 3   Insulin         116 non-null    float64
 4   HOMA            116 non-null    float64
 5   Leptin          116 non-null    float64
 6   Adiponectin     116 non-null    float64
 7   Resistin        116 non-null    float64
 8   MCP.1           116 non-null    float64
 9   Classification  116 non-null    object
dtypes: float64(7), int64(2), object(1)
memory usage: 9.2+ KB

In [ ]:
print(df.dtypes)

Age                 int64
BMI               float64
Glucose             int64
Insulin           float64
HOMA              float64
Leptin            float64
Adiponectin       float64
Resistin          float64
MCP.1             float64
Classification     object
dtype: object

In [ ]:
df.head(15)

,Age,BMI,Glucose,Insulin,HOMA,Leptin,Adiponectin,Resistin,MCP.1,Classification
0,48,23.500000,70,2.707,0.467409,8.8071,9.702400,7.99585,417.114,1
1,83,20.690495,92,3.115,0.706897,8.8438,5.429285,4.06405,468.786,1
2,82,23.124670,91,4.498,1.009651,17.9393,22.432040,9.27715,554.697,1
3,68,21.367521,77,3.226,0.612725,9.8827,7.169560,12.76600,928.220,1
4,86,21.111111,92,3.549,0.805386,6.6994,4.819240,10.57635,773.920,1
5,49,22.854458,92,3.226,0.732087,6.8317,13.679750,10.31760,530.410,1
6,89,22.700000,77,4.690,0.890787,6.9640,5.589865,12.93610,1256.083,1
7,76,23.800000,118,6.470,1.883201,4.3110,13.251320,5.10420,280.694,1
8,73,22.000000,97,3.350,0.801543,4.4700,10.358725,6.28445,136.855,1
9,75,23.000000,83,4.952,1.013839,17.1270,11.578990,7.09130,318.302,1
10,34,21.470000,78,3.469,0.667436,14.5700,13.110000,6.92000,354.600,1
11,29,23.010000,82,5.663,1.145436,35.5900,26.720000,4.58000,174.800,1
12,25,22.860000,82,4.090,0.827271,20.4500,23.670000,5.14000,313.730,1
13,24,18.670000,88,6.107,1.330000,8.8800,36.060000,6.85000,632.220,1
14,38,23.340000,75,5.782,1.069670,15.2600,17.950000,9.35000,165.020,1

In [ ]:
df.tail(15)

,Age,BMI,Glucose,Insulin,HOMA,Leptin,Adiponectin,Resistin,MCP.1,Classification
101,66,26.562500,89,6.524,1.432235,14.9084,8.429960,14.91922,269.487,2
102,65,30.915577,97,10.491,2.510147,44.0217,3.710090,20.46850,396.648,2
103,72,29.136316,83,10.949,2.241625,26.8081,2.784910,14.76966,232.018,2
104,57,34.838148,95,12.548,2.940415,33.1612,2.364950,9.95420,655.834,2
105,73,37.109375,134,5.636,1.862886,41.4064,3.335665,6.89235,788.902,2
106,45,29.384757,90,4.713,1.046286,23.8479,6.644245,15.55625,621.273,2
107,46,33.180000,92,5.750,1.304867,18.6900,9.160000,8.89000,209.190,2
108,68,35.560000,131,8.150,2.633537,17.8700,11.900000,4.19000,198.400,2
109,75,30.480000,152,7.010,2.628283,50.5300,10.060000,11.73000,99.450,2
110,54,36.050000,119,11.910,3.495982,89.2700,8.010000,5.06000,218.280,2
111,45,26.850000,92,3.330,0.755688,54.6800,12.100000,10.96000,268.230,2
112,62,26.840000,100,4.530,1.117400,12.4500,21.420000,7.32000,330.160,2
113,65,32.050000,97,5.730,1.370998,61.4800,22.540000,10.33000,314.050,2
114,72,25.590000,82,2.820,0.570392,24.9600,33.750000,3.27000,392.460,2
115,86,27.180000,138,19.910,6.777364,90.2800,14.110000,4.35000,90.090,2

In [ ]:
print(df.shape)

(116, 10)

In [ ]:
df.groupby(by='Age').size()

Age
24    1
25    1
28    1
29    2
32    1
34    3
35    2
36    2
38    2
40    2
41    1
42    2
43    3
44    4
45    7
46    3
47    1
48    4
49    5
50    1
51    4
52    1
53    1
54    3
55    1
57    1
58    1
59    2
60    2
61    1
62    2
64    2
65    3
66    5
67    1
68    3
69    5
71    3
72    3
73    2
74    1
75    4
76    4
77    2
78    1
81    1
82    2
83    1
85    2
86    3
89    1
dtype: int64

In [ ]:
df.isna().sum()

Age               0
BMI               0
Glucose           0
Insulin           0
HOMA              0
Leptin            0
Adiponectin       0
Resistin          0
MCP.1             0
Classification    0
dtype: int64

In [ ]:
df.isnull()

,Age,BMI,Glucose,Insulin,HOMA,Leptin,Adiponectin,Resistin,MCP.1,Classification
0,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...
111,False,False,False,False,False,False,False,False,False,False
112,False,False,False,False,False,False,False,False,False,False
113,False,False,False,False,False,False,False,False,False,False
114,False,False,False,False,False,False,False,False,False,False
115,False,False,False,False,False,False,False,False,False,False

In [ ]:
df.Age = df.Age.astype(float)
print(df.Age)

0      48.0
1      83.0
2      82.0
3      68.0
4      86.0
       ...
111    45.0
112    62.0
113    65.0
114    72.0
115    86.0
Name: Age, Length: 116, dtype: float64

In [ ]:
df.index

RangeIndex(start=0, stop=116, step=1)

In [ ]:
df.sort_values('Age')

,Age,BMI,Glucose,Insulin,HOMA,Leptin,Adiponectin,Resistin,MCP.1,Classification
13,24.0,18.670000,88,6.107,1.330000,8.8800,36.060000,6.85000,632.220,1
12,25.0,22.860000,82,4.090,0.827271,20.4500,23.670000,5.14000,313.730,1
32,28.0,35.855815,87,8.576,1.840410,68.5102,4.794200,21.44366,358.624,1
22,29.0,32.270788,84,5.810,1.203832,45.6196,6.209635,24.60330,904.981,1
11,29.0,23.010000,82,5.663,1.145436,35.5900,26.720000,4.58000,174.800,1
...,...,...,...,...,...,...,...,...,...,...
87,85.0,27.688778,196,51.814,25.050342,70.8824,7.901685,55.21530,1078.359,2
4,86.0,21.111111,92,3.549,0.805386,6.6994,4.819240,10.57635,773.920,1
78,86.0,26.666667,201,41.611,20.630734,47.6470,5.357135,24.37010,1698.440,2
115,86.0,27.180000,138,19.910,6.777364,90.2800,14.110000,4.35000,90.090,2
6,89.0,22.700000,77,4.690,0.890787,6.9640,5.589865,12.93610,1256.083,1

In [ ]:
df.sort_values('Age', ascending = False)

,Age,BMI,Glucose,Insulin,HOMA,Leptin,Adiponectin,Resistin,MCP.1,Classification
6,89.0,22.700000,77,4.690,0.890787,6.9640,5.589865,12.93610,1256.083,1
115,86.0,27.180000,138,19.910,6.777364,90.2800,14.110000,4.35000,90.090,2
78,86.0,26.666667,201,41.611,20.630734,47.6470,5.357135,24.37010,1698.440,2
4,86.0,21.111111,92,3.549,0.805386,6.6994,4.819240,10.57635,773.920,1
49,85.0,26.600000,96,4.462,1.056602,7.8500,7.931700,9.61350,232.006,1
...,...,...,...,...,...,...,...,...,...,...
22,29.0,32.270788,84,5.810,1.203832,45.6196,6.209635,24.60330,904.981,1
11,29.0,23.010000,82,5.663,1.145436,35.5900,26.720000,4.58000,174.800,1
32,28.0,35.855815,87,8.576,1.840410,68.5102,4.794200,21.44366,358.624,1
12,25.0,22.860000,82,4.090,0.827271,20.4500,23.670000,5.14000,313.730,1
13,24.0,18.670000,88,6.107,1.330000,8.8800,36.060000,6.85000,632.220,1

In [ ]:
df.rename(columns={'Age':'Yr Old'})

,Yr Old,BMI,Glucose,Insulin,HOMA,Leptin,Adiponectin,Resistin,MCP.1,Classification
0,48.0,23.500000,70,2.707,0.467409,8.8071,9.702400,7.99585,417.114,1
1,83.0,20.690495,92,3.115,0.706897,8.8438,5.429285,4.06405,468.786,1
2,82.0,23.124670,91,4.498,1.009651,17.9393,22.432040,9.27715,554.697,1
3,68.0,21.367521,77,3.226,0.612725,9.8827,7.169560,12.76600,928.220,1
4,86.0,21.111111,92,3.549,0.805386,6.6994,4.819240,10.57635,773.920,1
...,...,...,...,...,...,...,...,...,...,...
111,45.0,26.850000,92,3.330,0.755688,54.6800,12.100000,10.96000,268.230,2
112,62.0,26.840000,100,4.530,1.117400,12.4500,21.420000,7.32000,330.160,2
113,65.0,32.050000,97,5.730,1.370998,61.4800,22.540000,10.33000,314.050,2
114,72.0,25.590000,82,2.820,0.570392,24.9600,33.750000,3.27000,392.460,2
115,86.0,27.180000,138,19.910,6.777364,90.2800,14.110000,4.35000,90.090,2

In [ ]:
pd.melt(df)

            variable value
0                Age  48.0
1                Age  83.0
2                Age  82.0
3                Age  68.0
4                Age  86.0
...              ...   ...
1155  Classification     2
1156  Classification     2
1157  Classification     2
1158  Classification     2
1159  Classification     2

[1160 rows x 2 columns]

In [ ]:
dummy = pd.get_dummies(df['Age'])
print(dummy)